.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25 rem;
  background-color: #262637;
  border-bottom: 1px solid #dee2e6;
  color: white;
}

.item .icon {
color: #2cdeb6;
  margin-right: 8px;

}