.container {
  text-align: center;
  color: #ff9900;
  font-family: "Verdana", sans-serif;
  margin: 20px;
}

.header {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 1.2rem;
  color: #146eb4;
}
